<form >
    <div class="formContactUs">
        <input type="text" placeholder="Prenumele"> <br>
        <input type="text" placeholder="Numele"> <br>
        <input type="email" placeholder="Email"> <br>
        <textarea placeholder="Mesaj" style="height:200px"></textarea>

        <br>
        <input type="submit" value="Submit">
    </div>
</form>