<p>
    Salut, <b><%= body.prenume%> <%= body.nume %></b> <br>
    Mesajul tau a fost trimis, vei fi contactat pe email-ul <b><i><%= body.email %></i></b> in cel mai scurt timp de echipa DRPCIV. <br>
    O zi frumoasa in continuare!
</p>